@charset "utf-8";

/* 스크롤바 삭제 */
* {
    scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar { /* 나머지 */
    display: none;
}

.track{
    position: fixed;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background-color: rebeccapurple;
}
.thumb{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: red;
}