@charset "utf-8";

/* 하위 */
@import url(head.css);
@import url(body.css);
@import url(scroll.css);
@import url(tailwind.css);

/*
CSS Block Element Modifier 컨벤션
참고 용례

<form class="search-form">
  <div class="search-form__content">
    <input class="search-form__input">
    <button class="search-form__button">Search</button>
  </div>
</form>
<!-- 이렇게 다른 Element의 Element로는 사용하면 안 됩니다. -->
<form class="search-form">
  <div class="search-form__content">
    <input class="search-form__content__input">
    <button class="search-form__content__button">Search</button>
  </div>
</form>

*/

/* 공통 */

.App {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
