/* App/head */

header {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 70px;
  background: var(--deep);
  color: var(--text-light);
  text-align: center;
  > * {
    flex: 1;
  }

  .home-btn {
    margin-left: 20px;
    min-width: fit-content;
    max-width: fit-content;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
  }

  .menu {
    ul {
      display: flex;
      justify-content: center;
      li {
        flex: 1;
        max-width: 200px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }

  .quick {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    min-width: fit-content;
    max-width: fit-content;
    .quick-btn {
      margin: 0 1px;
      transform: scale(0.8);
    }
  }
} /* header */
