/* App.js */
/* div.Boby */

/* 하위 CSS */
@import url(./List.css);
@import url(./Post.css);

.page {
  position: relative;
  flex: 1;
  display: flex;
  width: 100%;
}
.page > * {
  justify-content: stretch;
  flex: 1;
}
