/* App.js */
/* Head.js */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  flex-direction: row;
  position: relative;
  width: 100%;
  background: var(--deep);
  * {
    margin: 0;
  }
}

.homeBtn {
  display: flex;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 900;
  color: var(--txtW);
  text-align: center;
  cursor: pointer;
}
nav {
  display: flex;
  padding: 0 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
nav p {
  flex: 1;
  padding: 0 50px;
  font-size: 16px;
  font-weight: 500;
  color: var(--txtW);
  cursor: pointer;
}
.headQuick {
  padding: 0 15px;
}
.headQuick img {
  border: none;
}
