/* App/body/blogPosting */

/* 공통 */
.flexWrap {
  display: flex;
  align-items: stretch;
  flex: 1;
  flex-direction: row;
}

/* 에디터 */
.postEditor {
  /* 에디터 | 뷰어 (나누는 선) */
  border-right: 1px solid var(--border);
  background-color: var(--editor_bg);
  flex: 1;
  box-sizing: border-box;

  h3:first-of-type {
    margin: 0;
  }

  /* 입력란 */
  input,
  textarea {
    margin: 5px auto;
    padding: 10px;
    width: 100%;
    height: auto;
    white-space: pre-wrap;
    box-sizing: border-box;
  }

  /* 서론 */
  blockquote {
    padding: 0;
    position: relative;
    height: auto;
  }
  blockquote textarea {
    display: flex;
    flex: 1;
    margin: 0;
    height: auto;
  }
  /* 서론창 없애기 버튼 */
  blockquote input {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    line-height: 0;
  }
  blockquote input:active {
    background-color: var(--deep);
  }
  blockquote input:focus {
    border: none;
  }
}

.postingButton {
  padding: 10px 20px;
  border: none;
  border-bottom: 1px solid var(--border);
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--bg);
  font-size: 16px;
  font-weight: 500;
  color: var(--deep);
  letter-spacing: 1px;
  height: 80px;
}
