:root {
  --dark: black;
}

.dark {
  background: var(--dark);
  color: white;
}
.light {
  background: white;
  color: black;
}

.app {
  width: 100vw;
  height: 100vh;
}
.body {
  display: flex;
  flex-direction: column;

  .header {
    width: 100vw;
    height: 100vh;

    background: rgba(255, 255, 255, 0.1);
  }
}
