:root {
  --rgb-dark: 29, 35, 59;
  --rgb-deep: 79, 108, 115;
  --rgb-dim: 111, 143, 131;
  --rgb-bright: 187, 141, 116;
  --rgb-pale: 237, 225, 210;
  --rgb-light: 255, 255, 255;
}

/* mode */
.dark {
  background: var(--dark);
  color: white;
}
.light {
  background: white;
  color: var(--dark);
}

/* home */
.app {
  width: 100vw;
  height: 100vh;
}
.load {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.body {
  display: flex;
  flex-direction: column;

  .header {
    background: rgba(255, 255, 255, 0.1);
  }
}
.feed {
  backdrop-filter: blur(100px);
}
